<div class="row">
    <div class="col-sm-12">
        <div class="rugby-navbar" ng-include="'app/rugby/navigation-bar.html'"></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="center-wrapper" style="top: 70px;">
                    <h1 class="info-title-text">{{title}}</h1>
                </div>
            </div>
        </div>
        <img src="src\client\images\photos\akron-rugby-background.JPG"/>
        <div class="info-box">
            <div ng-if="rugbyTab === 'about'">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <h3 class="info-box-text">
                            History
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <p class="info-box-text">
                            {{aboutText}}
                        </p>
                    </div>
                </div>
            </div>
            <div ng-if="rugbyTab === 'schedule'">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <img src="images/schedule/schedule.jpeg"/>
                    </div>
                </div>
            </div>
            <div ng-if="rugbyTab === 'contacts'">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div ng-if="faction === 'mens'">
                            Men's photos
                        </div>
                        <div ng-if="faction === 'womens'">
                            Women's photos
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
