<div class="modal fade" id="events-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Event</h3>
            </div>
            <div class="modal-body" style="height: 200px">
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="rugby-navbar" ng-include="'app/rugby/navigation-bar.html'"></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="center-wrapper" style="top: 70px;">
                    <h1 class="info-title-text">{{title}}</h1>
                </div>
            </div>
        </div>
        <img src="src\client\images\photos\akron-rugby-background.JPG"/>
        <div class="info-box">
            <div ng-if="rugbyTab === 'about'">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <h3 class="info-box-text">
                            History
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <p class="info-box-text">
                            {{aboutText}}
                        </p>
                    </div>
                </div>
            </div>
            <div ng-if="rugbyTab === 'schedule'">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="page-header">
                            <div class="pull-right form-inline">
                                <div class="btn-group">
                                    <button class="btn btn-primary" data-calendar-nav="prev">&lt;&lt; Prev</button>
                                    <button class="btn btn-default" data-calendar-nav="today">Today</button>
                                    <button class="btn btn-primary" data-calendar-nav="next">Next &gt;&gt;</button>
                                </div>
                                <div class="btn-group">
                                    <button class="btn btn-warning" data-calendar-view="year">Year</button>
                                    <button class="btn btn-warning" data-calendar-view="month">Month</button>
                                    <button class="btn btn-warning" data-calendar-view="week">Week</button>
                                    <button class="btn btn-warning active" data-calendar-view="day">Day</button>
                                </div>
                            </div>
                            <h3>{{date}}</h3>
                        </div>
                        <div id="calendar"></div>
                        <!--<iframe src="https://calendar.google.com/calendar/embed?src=7s9mr8nl2v2cb1pr0uc44ksn0c%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>-->
                    </div>
                </div>
            </div>
            <div ng-if="rugbyTab === 'contacts'">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div ng-if="faction === 'mens'">
                            Men's photos
                        </div>
                        <div ng-if="faction === 'womens'">
                            Women's photos
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
