<div class="viewport-height">
    <div class="akron-rugby-background-image">
        <div class="row">
            <div class="col-sm-12 crest-wrapper">
                <div class="crest-icon">
                    <img style="cursor: pointer;" ng-click="vm.goTo('splash')" src="src\client\images\photos\crest.png"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title-text">Akron Rugby</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" style="padding-top:50px;">
                <a class="banner-text-link" href="" ng-click="splashPageCtrl.goTo('home', 'mens')"><h3 class="banner-text">Men's Team</h3></a>
            </div>
            <div class="col-sm-6" style="padding-top:50px;">
                <a class="banner-text-link" href="" ng-click="splashPageCtrl.goTo('home', 'womens')"><h3 class="banner-text">Women's Team</h3></a>
            </div>
        </div>
    </div>
</div>
