html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.viewport-height {
    height: 100vh;
}
.akron-rugby-background-image {
    z-index: 0;
    background-image: url("../images/photos/akron-rugby-background.JPG");
    background-size: cover;
    width: 100%;
    height: 100%;
}

.crest-icon {
    text-align: center;
}

.crest-wrapper {
    display: inline-block;
    position: absolute;
    top: 120px;
}

.info-box {
    background-color: #FFFFFF;
    padding-bottom: 20px;
    background-color: rgba(255,255,255,0.5);
}

.info-box-text {
    line-height: 200%;
}

.rugby-navbar {
    background-color: rgba(255,255,255,.7);
    position: absolute;
    width: 100%;
    z-index: 100;
}

.banner-text {
    padding-top: 50px;
}

@media (min-width: 768px) {
    .center-wrapper {
        top: 70px;
    }

    .info-title-text {
        font-size: 75px;
        text-align: center;
        color: #FFFFFF;
        position: relative;
        left: -50%;
    }

    .title-text {
        font-size: 75px;
        text-align: center;
        color: #FFFFFF;
    }

    .banner-text {
        color: #FFFFFF;
        text-align: center;
        font-size: 50px;
        font-style: italic;
        text-decoration: none;
    }
}

@media (max-width: 340px) {
    .center-wrapper {
        top: 90px;
    }

    .info-title-text {
        font-size: 25px;
    }
}

@media (min-width: 341px) and (max-width: 767px) {
    .center-wrapper {
        top: 30px;
    }
}

@media  (max-width: 767px) {
    .info-title-text {
        text-align: center;
        color: #FFFFFF;
        position: relative;
        left: -50%;
    }

    .title-text {
        font-size: 50px;
        text-align: center;
        color: #FFFFFF;
    }

    .banner-text {
        color: #FFFFFF;
        text-align: center;
        font-size: 35px;
        font-style: italic;
        text-decoration: none;
    }

    .rugby-navbar .navbar-header {
        margin-right: 0;
    }

    .banner-text {
        padding-top: 0;
    }
}

@media (max-width: 992px) {
    .crest-icon {
        display: none;
    }
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

h3, p {
    font-family: 'Open Sans', sans-serif;
}

a:hover.banner-text-link, a:focus.banner-text-link {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}

.navbar-default .navbar-brand {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-weight: 700;
}

.navbar-default .navbar-nav > .active > a {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #000000;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #000000
}

.navbar-default .navbar-nav > li > a {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-weight: 700;
}

.center-wrapper {
    position:absolute;
    left:50%
}

.carousel-outer {
    position: relative;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}

@media (min-width: 768px) {
    .carousel-outer {
        margin-right: 0;
        margin-left: 0;
        background-color: #fff;
        border-color: #ddd;
        border-width: 1px;
        border-radius: 4px 4px 0 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
