<div class="row">
    <div class="col-sm-12">
        <div class="rugby-navbar" ng-include="'app/rugby/templates/navigation-bar.html'"></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="center-wrapper">
                    <h1 class="info-title-text">{{aboutCtrl.title}}</h1>
                </div>
            </div>
        </div>
        <img style="width:100%" src="src\client\images\photos\akron-rugby-background.JPG"/>
        <div class="info-box">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <h3 class="info-box-text">
                        History
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <p class="info-box-text">
                        {{aboutCtrl.aboutText}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
